@model RequestForService.Models.ComplexTypes.ContactDetails
<div class="form-horizontal">
	<h4>Contact Details</h4>
	<hr />
	<div class="form-group">
		@Html.LabelFor(model => model.Office, htmlAttributes: new {@class = "control-label col-md-2"})
		<div class="col-md-10">
			@Html.EditorFor(model => model.Office)
			@Html.ValidationMessageFor(model => model.Office)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Mobile, htmlAttributes: new {@class = "control-label col-md-2"})
		<div class="col-md-10">
			@Html.EditorFor(model => model.Mobile)
			@Html.ValidationMessageFor(model => model.Mobile)
		</div>
	</div>
</div>