@model RequestForService.Models.Users.Registration
<div class="form-horizontal">
@*
	<h4>Registration</h4>
	<hr />
*@
	
	<div class="form-group">
		@Html.ValidationMessageFor(model => model.EmailAddress)
		@Html.ValidationMessageFor(model => model.Password)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.EmailAddress, htmlAttributes: new {@class = "control-label col-md-2"}, labelText: "Email")
		<div class="col-md-10">
			@Html.EditorFor(model => model.EmailAddress)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
		<div class="col-md-10">
			@Html.PasswordFor(model => model.Password)
		</div>
	</div>
	
	<hr />
	<div class="form-group">
		@Html.ValidationMessageFor(model => model.Person.FirstName)
		@Html.ValidationMessageFor(model => model.Person.MiddleName)
		@Html.ValidationMessageFor(model => model.Person.LastName)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Person.FirstName, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "First Name")
		<div class="col-md-10">
			@Html.EditorFor(model => model.Person.FirstName)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Person.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Middle Name")
		<div class="col-md-10">
			@Html.EditorFor(model => model.Person.MiddleName)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Person.LastName, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Last Name")
		<div class="col-md-10">
			@Html.EditorFor(model => model.Person.LastName)
		</div>
	</div>

	<hr />
	<div class="form-group">
		@Html.ValidationMessageFor(model => model.AcceptTerms)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.AcceptTerms, htmlAttributes: new {@class = "control-label col-md-2"}, labelText: "Accept Terms")
		<div class="col-md-10">
			@Html.EditorFor(model => model.AcceptTerms)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ReceiveNewsletters, htmlAttributes: new {@class = "control-label col-md-2"}, labelText: "Receive Newsletters")
		<div class="col-md-10">
			@Html.EditorFor(model => model.ReceiveNewsletters)
		</div>
	</div>

</div>