@using BudgetManager.Models.User
@using BudgetManager.Web.Enums
@model IEnumerable<User>
@if (Model != null && Model.Any())
{
	using (Html.BeginForm())
	{
	<p><button type="submit" name="action" value="@AccountActionEnum.Register">Register</button></p>
	<table>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Email)</th>
			<th>@Html.DisplayNameFor(model => model.Email)</th>
			<th>@Html.DisplayNameFor(model => model.Created)</th>
			<th></th>
		</tr>

		@foreach (User item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Email)</td>
				<td>@Html.DisplayFor(modelItem => item.Email)</td>
				<td>@Html.DisplayFor(modelItem => item.Created)</td>
				<td>
					<button type="submit" name="action" value="@AccountActionEnum.AccountEdit">Edit</button>
					<button type="submit" name="action" value="@AccountActionEnum.AccountDelete">Delete</button>
					@Html.ActionLink("Edit", "Edit", new {id = item.Id})
					@Html.ActionLink("Delete", "Delete", new {id = item.Id})
				</td>
			</tr>
		}
	</table>
	}
}
else
{
	<p>No Users...</p>
}