@using BudgetManager.Web.Enums
@model BudgetManager.Web.ViewModels.LoginViewModel
<h2>Login</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(false)
	<div class="inline">
		<div class="editor-label">@Html.LabelFor(model => model.Email)</div>
		<div class="editor-field">@Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)</div>
	</div>
	<div class="inline">
		<div class="editor-label">@Html.LabelFor(model => model.Password)</div>
		<div class="editor-field">@Html.EditorFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)</div>
	</div>
	<p>
		<button type="submit" name="action" value="@AccountActionEnum.Login" >Login</button>
		<button type="submit" name="action" value="@AccountActionEnum.Register">Register</button>
	</p>
}